$bColor: 1px solid rgb(72, 178, 192);
$tColor: rgba(202, 44, 65, 0.863);

@import "grid";
@import "nav";
@import "queries";
@import "container";

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.separador {
    height: 150px;
}
